<footer class="footer">
    <div class="logo">
        LOGO
    </div>

    <div class="under-line">
        <div class="company-name">&copy; 2024 VADAVO · Todos los derechos reservados.</div>
        <ul class="menu">
            <li><a href="https://vadavo.eu/aviso-legal">Aviso legal</a></li>
            <li><a href="https://vadavo.eu/politica-de-privacidad">Política de privacidad</a></li>
            <li><a href="https://vadavo.eu/politica-de-cookies">Política de cookies</a></li>
        </ul>
    </div>
</footer>