.navbar {

    &.desktop {
        .right, .left, .center {
            height: 63px !important;
        }
    }

    .button, .textfield {
        font-size: .8em;
    }

    form {
        width: 100%;
    }
}

